
.midPrices {
    width: 400px;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 13px;
}

.midPrices > td, .midPrices > th {
    padding: .4rem;
    border-color: #c9c9c9;
}

.midPrices thead th {
    border-color: #c9c9c9;
}